<div class="container-fluid text-center">
  <div class="page-header welcm-msg">
    <%= image_tag "dublin_bus.jpg", alt: "Responsive image", class: "cover-img" %>
    <span class="centered"><%= I18n.t("web.dublin_bus") %></span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-<%= verify_current_user %>"></div>
    <div class="col-md-8">
      <div class="panel-group dublin-bus-list" id="accordion">

        <% @results.each do |result| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class= "accordion-toggle">
                  <%= link_to"#" + result["stopid"], "data-toggle": "collapse", "data-parent": "#accordion", "data-stop-name": result["shortname"], class: "stop-info" do %>
                    <span><%= result["shortname"] %></span>
                    <%= image_tag "bus-icon.jpg", alt: "icon", class: "location-icon" %>
                  <% end %>
                  <input type="button" class="btn btn-info calc-dist-btn" value="Calculate Distance" data-location = "[<%= result["latitude"] %>, <%= result["longitude"] %>]" id="stop<%= result["stopid"] %>" data-distance = "<%= result["distance"] %>" >
                </div>
              </h4>
            </div>
            <div id="<%= result["stopid"] %>" class="panel-collapse collapse" data-stop-name = "<%= result["name"] %>">
              <div class="panel-body hide">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-<%= verifySearchHistory %>">
      <%= render "searched_history" if current_user %>
    </div>
  </div>
</div>
