<div class="container-fluid text-center">
  <div class="page-header welcm-msg">
    <%= image_tag "bikes.jpg", alt: "Responsive image", class: "cover-img" %>
    <span class="centered"><%= I18n.t("web.dublin_bikes") %></span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-<%= verify_current_user %>"></div>
    <div class="col-md-8">
      <div class="panel-group dublin-bus-list" id="accordion">
        <% counter = 0 %>
        <% @bike_list && @bike_list.each do |result| %>
          <% next if calculate_dist(result) %>
          <% counter += 1 %>
          <% break if counter == 20 %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class= "accordion-toggle">
                  <%= link_to"#" + "#{result["number"]}", "data-toggle": "collapse", "data-parent": "#accordion", class: "bike-info" do %>
                    <span><%= result["name"] %></span>
                    <%= image_tag "bike.png", alt: "icon", class: "location-icon" %>
                  <% end %>
                </div>
              </h4>
            </div>

            <div id="<%= result["number"] %>" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <%= I18n.t("web.address") %>
                    <b><%= result["address"] %></b>
                  </li>
                  <li class='list-group-item'>
                    <%= I18n.t("web.available_bikes") %>
                    <b><%= result["available_bikes"] %></b>
                  </li>
                  <li class='list-group-item'>
                    <%= I18n.t("web.available_bike_stands") %>
                    <b><%= result["available_bike_stands"] %></b>
                  </li>
                  <li class='list-group-item'>
                    <%= I18n.t("web.status") %>
                    <b><%= result["status"] %></b>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <% if counter == 0 %>
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h4 class="panel-title">
                <div class= "accordion-toggle">
                  <%= I18n.t("web.no_search_result") %>
                </div>
              </h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-<%= verifySearchHistory %>">
      <%= render "searched_history" if current_user %>
    </div>
  </div>
</div>
