<div class="container-fluid text-center">
  <div class="page-header bus-info-msg">
    <%= image_tag "bikes.jpg", alt: "Responsive image", class: "cover-img" %>
    <span class="centered"><%= I18n.t("web.stop_information") %></span>
  </div>
</div>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel-group dublin-bus-list" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class= "accordion-toggle">
                  <%= link_to "#dublin-bike-station", "data-toggle": "collapse", "data-parent": "#accordion" do %>
                    <span><%= display_station_msg %></span>
                    <%= image_tag "bike.png", alt: "icon", class: "location-icon" %>
                  <% end %>
                </div>
              </h4>
            </div>
            <div id="dublin-bike-station" class="panel-collapse">
              <div class="panel-body">
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <%= I18n.t("web.address") %>
                    <b><%= @station_info["address"] %></b>
                  </li>
                  <li class='list-group-item'>
                    <%= I18n.t("web.available_bikes") %>
                    <b><%= @station_info["available_bikes"] %></b>
                  </li>
                  <li class='list-group-item'>
                    <%= I18n.t("web.available_bike_stands") %>
                    <b><%= @station_info["available_bike_stands"] %></b>
                  </li>
                  <li class='list-group-item'>
                    <%= I18n.t("web.status") %>
                    <b><%= @station_info["status"] %></b>
                  </li>
                </ul>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
