<div class="container-fluid text-center">
  <div class="page-header bus-info-msg">
    <span><%= I18n.t("web.stop_information") %></span>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel-group dublin-bus-list" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class= "accordion-toggle">
                  <%= link_to "#dublin-bus-stop", "data-toggle": "collapse", "data-parent": "#accordion", class: "hello" do %>
                    <span><%= display_stop_msg %></span>
                    <%= image_tag "bus-icon.jpg", alt: "icon", class: "location-icon" %>
                  <% end %>
                </div>
              </h4>
            </div>
            <div id="dublin-bus-stop" class="panel-collapse">
              <div class="panel-body">
                  <% @stop_info && @stop_info.each_with_index do |stop, i| %>
                  <ul class='list-group'>
                    <% if i + 1 != @stop_info.length %>
                      <li class="list-group-item">
                        <%= I18n.t("web.destination") %>
                        <b><%= stop["destination"] %></b>
                      </li>
                      <li class="list-group-item">
                        <%= I18n.t("web.origin") %>
                        <b><%= stop["origin"] %></b>
                      </li>
                      <li class="list-group-item">
                        <%= I18n.t("web.due_time") %>
                        <b><%= stop["duetime"] %> mins</b>
                      </li>
                      <li class="list-group-item">
                        <%= I18n.t("web.departuredatetime") %>
                        <b><%= stop["departuredatetime"] %></b>
                      </li>
                      <li class="list-group-item">
                        <%= I18n.t("web.scheduledarrivaldatetime") %>
                        <b><%= stop["scheduledarrivaldatetime"] %></b>
                      </li>
                      <li class="list-group-item">
                        <%= I18n.t("web.route") %>
                        <b><%= stop["route"] %></b>
                      </li>
                    <% end %>
                  </ul>
                  <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
