<div class="container-fluid">
  <div class="container">
    <div class="row text-center login-form">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="welcm-msg">SmartTravel</div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, :label => false, placeholder: I18n.t("web.enter_email") + " *", class: "form-control align-field", "data-validate-error": true, "data-error-msg": f.object.errors[:email][0] %>

          <%= f.password_field :password, :label => false, autocomplete: "off", placeholder: I18n.t("web.enter_password") + " *", class: "form-control align-field", "data-validate-error": true, "data-error-msg": f.object.errors[:password][0]  %>

          <%= f.submit I18n.t("web.log_in"), class: "form-submit" %>
        <% end %>
        <div class="or-line"><span><%= I18n.t("web.or") %></span></div>

        <%= link_to user_facebook_omniauth_authorize_url() do %>
          <%= image_tag("login_with_fb.png", class: "fb-logo") %>
        <% end %>  
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
 