<div class="container-fluid text-center align-div">
  <p class="pokemon-header"><%= I18n.t('web.pokemons') %></p>
  <%= delete_all_pokemons %>
  <%= form_tag({:action => :upload}, multipart: true, class: "upload-form") do %>
    <div>
      <%= file_field_tag :file, class: "file-optn" %>
    </div>
    <%= submit_tag I18n.t("web.import_csv"), class: "btn btn-success upload-csv-btn" %>
  <% end %>


  <table class="table text-center pokemon-data">
    <thead>
      <tr>
        <th><%= I18n.t("web.id") %></th>
        <th><%= I18n.t("web.name") %></th>
        <th><%= I18n.t("web.height") %></th>
        <th><%= I18n.t("web.weight") %></th>
      </tr>
    </thead>
    <tbody>
      <% @pokemons.each do |pokemon| %>
        <tr>
          <td><%= pokemon.id %></td>
          <td><%= pokemon.name %></td>
          <td><%= pokemon.height %></td>
          <td><%= pokemon.weight %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @pokemons %>
</div>
