<!DOCTYPE html>
<html>
  <head>
    <title>SmartTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">SmartTravel</a>
        </div>
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Home</a></li> -->
          <li><a href="javascript:void(0)">Dublin Bus</a></li>
          <li><a href="javascript:void(0)">Dublin Bikes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li>
            <% if current_user %> 
              <%= link_to destroy_user_session_path, method: :delete  do %>
                <span class="glyphicon glyphicon-log-in"></span> Log Out
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in"></span> Log In
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>



